.body{
    font-family: georgia;
}
.categoryName{
    color: white;
}
.product {
    background-color: white; 
    border-radius: 8px; 
    padding: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease; 
    height: auto;
  }
  
  .product:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  .returnButton {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 1000; 
  }
  .returnBtn{
    background-color: red;
    border-radius: 50px;
    border-color: red;
  }
  .returnBtn:hover{
    background-color: white;
    color: red;
    border-color: white;
  }