.product {
  display: flex;
  margin-bottom: 20px; 
}

.product-image {
  flex-shrink: 0; 
  margin-right: 20px; 
  max-width: 200px; 
}

.product-image img {
  max-width: 100%;
  height: auto;
}

.product-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.description {
  margin-bottom: 10px; 
}

.addToCartBtn {
  background-color: purple;
  color: #fff;
  border: none;
  margin-top: 5px;
}

.addToCartBtn:hover {
  background-color: plum;
  opacity: 0.8;
}
.addToCartBtn:disabled {
  background-color: #ccc; 
  border-color: #ccc; 
  color: #555; 
  cursor: not-allowed; 
}

.addToCartBtn:disabled:hover {
  background-color: #ccc; 
  border-color: #ccc; 
}
.quantity-control button {
  margin-right: 10px;  
  border-radius: 5px;
  border-color: purple;
  background-color: white;
  color: purple;
}

.quantity-control input {
  margin-right: 5px; 
  flex: 1; 
  border-color: purple;
}


