.body{
  font-family: Georgia;
  font-size: 20px;
}
.navbar {
  background-color: rgba(255, 255, 255, 0.6); 
  padding: 10px 0;
  border-radius: 20px; 
}

.navbar a {
  text-decoration: none; 
  color: #800080; 
  font-family: Georgia;
  font-size: 20px;
}

.navbar a:hover {
  color: white; 
}

.navbar .container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
}
.brand-link {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

.cart-link {
  margin-left: auto;
  color: #ffffff;
}

.modal-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.modal-checkbox label {
  position: relative;
  display: inline-block;
  padding-left: 1.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
}


.modal-checkbox label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1em;
  height: 1em;
  border: 2px solid #e91e63; 
  border-radius: 0.25em;
  transition: background-color 0.3s ease;
}


.modal-checkbox input[type="checkbox"]:checked + label::before {
  background-color: #e91e63; 
  border-color: #e91e63; 
}


.modal-checkbox label::after {
  content: "";
  position: absolute;
  left: 0.25em;
  top: 0.25em;
  width: 0.5em;
  height: 0.5em;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}


.modal-checkbox input[type="checkbox"]:checked + label::after {
  display: block;
}

 .navbar .call-button{
  background-color: transparent;
  border-color: transparent;
  text-decoration: none; 
  color: #800080; 
  font-family: Georgia;
  font-size: 20px;

}
.navbar .call-button:hover{
  background-color: transparent;
  border-color: transparent;
}
.navbar .modal.footer .cancel-button{
  color: pink;
  background-color: red;
}
