
/* Styles for the loading overlay */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff; /* Background color of the overlay */
  z-index: 10000; /* Ensure it's above other content */
}

@media (max-width: 768px) {
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    margin-bottom: 20px;
  }

  /* Adjust the width of the buttons */
  .button-container button {
    width: 45%; /* Set the width to 45% of the container */
  }
}


.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease; /* Transition for smooth fading */
}
.fade-in.visible {
  opacity: 1;
}

/* Define scrollbar styles */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Track styles (the area behind the scrollbar) */
::-webkit-scrollbar-track {
  background:rgb(25, 25, 25); /* Color of the track */
}

/* Handle styles (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #444; /* Color of the handle */
  border-radius: 40px; /* Border radius of the handle */
  transition: background 0.3s ease;
}

/* Handle hover styles */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the handle on hover */
  transition: background 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  margin: 0;
  font-family: 'Alegreya Sans', sans-serif;
}

.container {
  display: flex;
  background-color: rgb(25, 25, 25);
  margin: 0 auto;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-content: center;
    
    
  flex-wrap: nowrap;
  align-items: center;
}

header {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

}

nav {
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: rgb(160, 160, 160);
  font-size: 16px;
  font-weight: 100;
  padding: 0 25px;

}

nav a:hover {
  color: #484848;
  border-bottom: none;
  transition: color 0.35s ease;
}

nav.animate a {
  display: inline-block;
}

.menu {
  display: none !important;
  opacity: 0;
}

.menu.visible {
  display: inline-block !important;
}

.menu.animate-opacity {
  opacity: 1; 
  transition: opacity 0.25s ease-in-out; 
}

.menu.deanimate-opacity {
  opacity: 0; /* Make it visible */
  transition: opacity 0.25s ease; /* Add transition effect for opacity */
}
/* Original style for the buttons */
.button-container {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 5vh; /* Stick the buttons 5% from the bottom of the screen */
  z-index: 999; /* Ensure the buttons are above other content */
  transition: opacity 0.3s ease; /* Add transition for opacity */
  opacity: 1; /* Initially visible */
}

.continue-guest-container {
  position: fixed;
  bottom: 0.75vh; /* Stick the "Continue as guest" button 2.5% from the bottom of the screen */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 999; /* Ensure it's above other elements */
  transition: opacity 0.3s ease; /* Add transition for opacity */
  opacity: 1; /* Initially visible */
}

.hidden {
  opacity: 0; /* Hidden */
}

.continue-guest-container a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid transparent; /* Set a thin transparent border initially */
  transition: border-color 0.35s ease; /* Animate border color change */
}

a:hover {
  color: white;
  border-bottom: 1px solid white; /* Set border color on hover */
  transition: border-color 0.35s ease; /* Animate border color change on hover */
}

.button-container button {
  margin: 0 10px; /* Add margin between the buttons */
}
.video-container {
  position: static;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.features-section-title
{
  font-weight: bold;
  padding-bottom: 2vw;
}
.features-section {
  display:flex;
  align-items:center;
  justify-content:center;
  padding: 6vw;
  background-color: black;
  color: white;
  width: 99.6vw;
  text-align: center;
}

.about-us-section-title
{
  font-weight: bold;
  padding-bottom: 2vw;
}
.about-us-section {
  padding: 6vw;
  background-color: black;
  color: white;
  width: 99.6vw;
  text-align: center;
}
.our-team-section {
  padding-left: 6vw;
  padding-right: 6vw;
  padding-bottom: 6vw;
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  position: relative; /* Added position relative */
}
.team-content {
  position: absolute;
  top: 55%;
  left: 58%;
  transform: translate(-50%, -50%);
  width: 75%; /* Adjust width to fit the content */
  text-align: center;
}

.title-container {
  position: absolute;
  top: 20%; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.75);
}

.team-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.demo-section-title
{
  font-weight: bold;
  padding-bottom: 2vw;
}
.demo-section {
  padding: 6vw;
  padding-right: 10vw;
  padding-left: 10vw;
  background-color: black;
  color: white;
  width: 99.6vw;
  text-align: center;
}
.demo-section .chakra-heading {
  padding: 3vh; /* Add padding to the headings */
}

.contact-us-section {
  padding-left: 6vw;
  padding-right: 6vw;
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  position: relative; /* Added position relative */
}
.contact-us-content {
  position: absolute;
  top: 55%;
  left: 58%;
  transform: translate(-50%, -50%);
  width: 75%; /* Adjust width to fit the content */
  text-align: center;
}
.contact-us-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
